
.DS_Store
.idea/Calendar.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
Calendar.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Calendar.xcodeproj/project.xcworkspace/xcuserdata/lancy.xcuserdatad/UserInterfaceState.xcuserstate
Calendar.xcodeproj/project.xcworkspace/xcuserdata/lancy.xcuserdatad/xcschemes/xcschememanagement.plist
Calendar.xcodeproj/xcuserdata/lancy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Calendar.xcodeproj/xcuserdata/lancy.xcuserdatad/xcschemes/Calendar.xcscheme
Calendar.xcodeproj/xcuserdata/lancy.xcuserdatad/xcschemes/xcschememanagement.plist
